/***** 

TOP SIX
F40
LaFerrari 
P4
Enzo
250 gto 
288 gto

COLOR CHEAT SHEET 
https://coolors.co/780000-c1121f-fef8ec-003049-669bbc

780000 - Barn red
c1121f - Fire brick
fef8ec - Floral white
003049 - Prussian blue
669bbc - Air superiority blue
0c2725

*****/


/********************/
/******* FONTS ******/
/********************/
body, p {
    font-family: "Play", system-ui;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "SUSE", sans-serif;

}

/********************/
/******* HERO ******/
/********************/
header.masthead{
    background: url("../img/f40hero.jpg");
    background-position: center;
    background-size: cover;
}

/********************/
/******* COLORS ******/
/********************/

.btn-primary:active, .btn-primary:focus{
    background: #b71e28 !important;
    border: 3px solid #86161d !important;
}

.btn-primary {
    background: #960f18;
    border: 3px solid #730c13;
}

.btn-primary:hover {
    background: #a70f19;
    border: 3px solid #8f131c;
}

.bg-primary{
    background-color: #0c2725 !important;
}

.text-primary{
    color: #9d2727 !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #0c2725 !important;
}
/********************/
/******* NAV ******/
/********************/

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #6e1d2c;
}

#mainNav .navbar-brand:hover {
    color: #7a2030;
}

#mainNav .navbar-brand {
    color: #6c1222;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #7f1327;
}

#mainNav {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.4s ease;
}

#mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #580e1b;
}

#mainNav.navbar-shrink .navbar-brand {
    color: #c5b0b2;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #c5afb0;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #a97f84;
}

#mainNav.navbar-shrink .navbar-brand:hover {
    color: #a37c80;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #ae7d83 !important;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(146, 29, 29, 0.9);
    transition: opacity 0.25s ease;
    text-align: center;
}